.carousel-control-next-icon {
  background-image: url(../images/arrow-right.gif);
  height: 70px;
  width: 70px;
}
.carousel-control-prev-icon {
  background-image: url(../images/arrow-right.gif);
  transform: rotate(180deg);
  height: 70px;
  width: 70px;
}

.details_container {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(0, 47, 52, 0.36);
  margin: 16px 0px 0px;
}

.details_container .title {
  color: #002f34;
}
.details_container .items {
  display: flex;
  flex-wrap: wrap;
}
.details_container .items .item {
  display: flex;
  flex-basis: 50%;
}
.details_container .items .item .attribute {
  opacity: 0.6;
  flex-basis: 50%;
}
.details_container .items .item .value {
  flex-basis: 50%;
}
