.details_container {
  padding: 20px !important;
  border-radius: 4px !important;
  margin: 46px 0px 0px !important;
  background: white !important;
  border: none !important;
}

.items {
  display: block !important;
}
